.dodgerBlue {
	background: DodgerBlue;
}

.darkSeaGreen {
	background: DarkSeaGreen;
}

.hotPink {
	background: HotPink;
}

.darkKhaki {
	background: DarkKhaki;
}

.cornflowerBlue {
	background: CornflowerBlue;
}

.lightCoral {
	background: LightCoral;
}